.advantages {
  padding: 120px 0;

  @include vp-1023 {
    padding: 80px 0 75px;
  }

  @include vp-767 {
    padding: 49px 0;
  }
}

.advantages__container {
  grid-column: main;

  dl {
    --column-count: 2;

    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    grid-auto-rows: minmax(0, 1fr);
    gap: 30px;
    margin: 0;

    @include vp-767 {
      --column-count: 1;

      grid-template-rows: repeat(2, 340px) repeat(2, 325px);
    }
  }
}

.advantages__item {
  --color: var(--themed-light);
  --border-color: var(--base-neutral-light);
  --heading-color: var(--themed-light);
  --text-color: var(--themed-dark);
  --scaleX: scaleX(0);

  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 66px;
  color: var(--color);
  border: 1px solid var(--border-color);
  border-left: 5px solid var(--color);

  @include vp-1023 {
    padding: 38px 40px 29px;
  }

  @include vp-767 {
    padding: 30px 25px 29px;
  }

  &:nth-child(2n+1):last-child {
    grid-column: span var(--column-count);
  }

  &::before {
    --icon-size: 35px;

    content: "";
    display: block;
    margin-bottom: 20px;
    width: var(--icon-size);
    min-width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--heading-color);
    mask: var(--bg-url) no-repeat center / contain;
    transition: var(--small-block-trans);

    @include vp-1023 {
      margin-bottom: 17px;
    }

    @include vp-767 {
      --icon-size: 30px;
    }
  }

  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color);
    transform-origin: left;
    transform: var(--scaleX);
    transition: var(--big-block-trans);
  }

  dt {
    margin-bottom: 15px;
    font: 400 24px / 34px $ff-headings;
    color: var(--heading-color);
    transition: var(--small-block-trans);

    @include vp-1023 {
      margin-bottom: 7px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 27px;
    }
  }

  dd {
    margin: 0;
    font: 400 16px / 22px $ff-main;
    color: var(--text-color);
    transition: var(--small-block-trans);

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
    }
  }

  @include hover {
    --color: var(--themed-light);
    --border-color: var(--themed-light);
    --heading-color: var(--base-light);
    --text-color: var(--base-light);
    --scaleX: scaleX(1);
  }
}
