.form-wrapper {
  h3 {
    display: block;
    margin: 0;
    margin-left: -5px;
    margin-bottom: 13px;
    font: 400 36px / 51px $ff-headings;
    color: var(--pure-light);

    @include vp-1023 {
      margin-left: 0;
      margin-bottom: 8px;
    }

    @include vp-767 {
      margin-bottom: 7px;
      font-size: 30px;
      line-height: 42px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 11px;
    font: 400 16px / 22px $ff-main;
    color: var(--pure-light);

    @include vp-1023 {
      margin-bottom: 3px;
    }

    @include vp-767 {
      margin-bottom: 11px;
      font-size: 14px;
      line-height: 19px;
    }
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 30px;
  }

  label {
    --label-opacity: 0;
    --label-translateY: translateY(1.5em);
    --label-font-size: 0;

    align-self: end;
    width: 100%;

    &:nth-child(2n + 1):last-of-type {
      grid-column: span 2;
    }

    @include vp-767 {
      grid-column: span 2;
    }

    &:focus-within {
      --label-opacity: 1;
      --label-translateY: translateY(0);
      --label-font-size: initial;
    }
  }

  span {
    display: block;
    padding-left: 15px;
    font-size: var(--label-font-size);
    opacity: var(--label-opacity);
    transform: var(--label-translateY);
    transition: $trans-label;

    @include vp-767 {
      padding-left: 0;
    }
  }

  input {
    --bg-color: rgba(4, 20, 39, 0.15);
    --border-color: transparent;
    --text-color: var(--pure-light);
    --placeholder-color: var(--pure-light);

    color: var(--text-color);
    padding: 15px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;

    &[type="text"] {
      width: 100%;
    }

    &[type="tel"] {
      width: 100%;
    }

    &::placeholder {
      color: var(--placeholder-color);
    }

    @include hover {
      --border-color: var(--pure-light);
    }

    @include focus {
      --border-color: var(--themed-dark);
      --bg-color: var(--themed-dark);
      --placeholder-color: transparent;
    }

    &:disabled {
      --border-color: var(--base-neutral);
      --bg-color: var(--base-neutral);
      --text-color: var(--themed-neutral);

      pointer-events: none;
    }
  }

  button {
    --bg-color: var(--themed-dark);
    --text-color: var(--pure-light);
    --border-color: transparent;

    min-width: var(--button-min-width);
    margin-left: 1px;
    margin-right: 10px;
    padding: 12px 22px;
    font: 700 16px / 19px $ff-headings;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    cursor: pointer;
    user-select: none;

    @include vp-1023 {
      margin-left: 0;
      margin-right: 55px;
    }

    @include vp-767 {
      grid-column: span 2;
      width: 100%;
      margin: 0;
      margin-bottom: 25px;
    }

    @include hover {
      --bg-color: var(--pure-light);
      --text-color: var(--themed-dark);
      --border-color: var(--themed-dark);
    }

    @include focus {
      --bg-color: var(--pure-light);
      --text-color: var(--themed-dark);
      --border-color: var(--themed-dark);
    }

    @include active {
      --bg-color: var(--themed-neutral);
      --text-color: var(--pure-light);
      --border-color: var(--themed-dark);
    }

    &:disabled {
      --border-color: var(--base-neutral);
      --bg-color: var(--base-neutral);
      --text-color: var(--themed-neutral);

      pointer-events: none;
    }
  }

  &--modal {
    --form-layout: flex;

    h3 {
      margin-left: 1px;
      margin-bottom: 5px;
      font: 400 30px / 42px $ff-headings;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    p {
      max-width: 40ch;
      margin-bottom: 15px;
    }

    button {
      margin: 0;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 19px;
    }
  }

  .form-wrapper__textarea {
    --placeholder-color: var(--pure-light);

    grid-column: span 2;
    margin-bottom: 31px;

    textarea {
      --border-color: transparent;
      --bg-color: rgba(4, 20, 39, 0.15);
      --text-color: var(--pure-light);

      width: 100%;
      padding: 28px 15px 11px;
      color: var(--text-color);
      background-color: var(--bg-color);
      border: 1px solid var(--border-color);
      border-radius: 3px;

      &::placeholder {
        color: var(--placeholder-color);
      }

      @include vp-767 {
        padding-bottom: 35px;
      }

      @include hover {
        --border-color: var(--pure-light);
      }

      @include focus {
        --border-color: var(--themed-dark);
        --bg-color: var(--themed-dark);
      }

      &:disabled {
        --border-color: var(--base-neutral);
        --bg-color: var(--base-neutral);
        --text-color: var(--themed-neutral);

        pointer-events: none;
      }

      &:focus-within {
        --placeholder-color: transparent;
      }
    }

    &--modal {
      margin-bottom: 26px;

      textarea {
        padding-top: 21px;
      }
    }

    @include vp-1023 {
      margin-bottom: 30px;
    }

    @include vp-767 {
      grid-column: span 2;
      margin-bottom: 25px;
    }
  }

  .form-wrapper__personal-data-check {
    --text-color: var(--pure-light);

    order: 2;
    display: flex;
    align-items: flex-end;

    @include vp-767 {
      grid-column: span 2;
    }

    label {
      display: flex;
      gap: 11px;
      align-items: center;
      padding-left: 10px;
      cursor: pointer;
      user-select: none;

      @include vp-1023 {
        padding-left: 0;
        padding-bottom: 3px;
      }

      @include vp-767 {
        padding-left: 5px;
      }

      @include hover {
        --text-color: var(--themed-dark);
      }

      &:focus-within {
        --text-color: var(--themed-dark);
      }
    }

    span {
      order: 2;
      flex: 1 1 auto;
      font: 400 14px / 16px $ff-main;
      color: var(--text-color);
      opacity: 0.8;
      transform: initial;
    }

    input[type="checkbox"] {
      --scale: scale(0);
      --bg-color: transparent;
      --border-color: var(--pure-light);
      --color: var(--pure-light);

      position: relative;
      appearance: none;
      min-width: 15px;
      width: 15px;
      height: 15px;
      padding: 0;
      color: var(--pure-light);
      background-color: var(--bg-color);
      border: 1px solid var(--border-color);
      border-radius: 2px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 20%;
        width: 5px;
        height: 4px;
        background-color: transparent;
        border-bottom: 1px solid var(--color);
        border-left: 1px solid var(--color);
        transform: rotate(-45deg) var(--scale);
      }

      &:checked {
        --scale: scale(1);
      }

      @include hover {
        --border-color: var(--themed-dark);
      }

      @include focus {
        --border-color: var(--themed-dark);
      }

      &:disabled {
        --border-color: transparent;
        --bg-color: var(--base-neutral);
        --color: var(--themed-neutral);

        pointer-events: none;
      }
    }

    &--modal {
      span {
        padding-left: 0;
      }
    }
  }
}
