.header-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header-contacts__list {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-right: 53px;
}

.header-contacts__item:not(:last-child) {
  margin-right: 121px;
}

.header-contacts__link {
  display: flex;
  font: 400 16px/18px $ff-placeholder;
  color: var(--base-light);

  &::before {
    content: "";
    flex: 0 0 auto;
    min-width: 20px;
    height: 20px;
    margin-right: 15px;
  }
}

.header-contacts__button {
  display: block;
  min-width: 60px;
  padding: 10px 15px;
  font: 700 14px/16px $ff-headings;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--base-light);
  background-color: transparent;
  border: 1px solid var(--base-neutral);
  border-radius: 3px;
  cursor: pointer;
}
