.header-contacts {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 63px;

  @include vp-1023 {
    padding: 0;
    padding-bottom: 13px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.header-contacts__list {
  flex: 1 1 82%;
  max-width: 82%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding-right: 138px;
  padding-left: 112px;

  @include vp-1023 {
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include vp-767 {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.header-contacts__item {
  flex: 1 1 45%;
  max-width: 50%;

  @include vp-1023 {
    flex: 1 1 40px;
    max-width: 40px;
    padding: 0;
  }
}

.header-contacts__link {
  --color: var(--base-light);

  display: flex;
  align-items: center;
  font: 400 16px/18px $ff-placeholder;
  color: var(--color);

  &::before {
    content: "";
    flex: 0 0 auto;
    min-width: 20px;
    height: 20px;
    margin-right: 15px;
    background: var(--image-url);
    filter: var(--filter);
  }

  &:hover {
    --color: var(--themed-light);
  }

  &:focus {
    --color: var(--themed-light);
  }

  &:active {
    --filter: var(--active-filter);
    opacity: var(--hover-opacity);
  }

  &--email {
    --image-url: url('../img/stack.svg#icon-email')
  }

  &--phone {
    --image-url: url('../img/stack.svg#icon-phone')
  }

  @include vp-1023 {
    padding: 10px;
    font-size: 0;
  }
}

.header-contacts__buttons {
  flex: 1 1 18%;
  max-width: 18%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  @include vp-1023 {
    display: none;
  }
}

.header-contacts__button {
  --color: var(--base-light);

  display: block;
  min-width: 60px;
  padding: 10px 15px;
  font: 700 14px/16px $ff-headings;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--color);
  background-color: transparent;
  border: 1px solid var(--color);
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  &:hover {
    --color: var(--themed-light);
  }

  &:focus {
    --color: var(--themed-light);
  }

  &:active {
    --color: var(--themed-dark);
    background-color: var(--base-light);
  }

  &--disabled {
    --color: var(--base-light);

    opacity: 0.5;
    pointer-events: none;
  }
}
