.main-header {
  display: grid;
  grid-template-columns:
    [full-start] minmax($pd-big, 1fr)
    [main-start] minmax(0, $ctmw-big) [main-end]
    minmax($pd-big, 1fr) [full-end];
  min-height: 120px;
  padding-top: 24px;
  padding-bottom: 35px;
  color: var(--base-light);
  background: var(--themed-dark);
}

.main-header__navigation {
  grid-column: main;
}
