.main-header {
  --padding: #{$pd-big};
  --max-width: #{$cntwidth-big};

  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--padding), 1fr)
    [main-start] minmax(0, var(--max-width)) [main-end]
    minmax(var(--padding), 1fr) [full-end];
  min-height: 120px;
  padding-top: 24px;
  padding-bottom: 35px;
  color: var(--base-light);
  background: var(--themed-dark);

  @include vp-767 {
    --padding: #{$pd-medium};
    --max-width: #{$cntwidth-medium};
    min-height: 100px;
    padding-top: 16px;
  }
}

.main-header__navigation {
  grid-column: main;
}
