.main-footer {
  min-height: 280px;
  padding-top: 50px;
  padding-bottom: 17px;
  color: var(--base-light);
  background: var(--themed-dark);

  @include vp-1023 {
    min-height: 100px;
    padding-bottom: 7px;
  }

  @include vp-767 {
    min-height: 70px;
    padding-top: 35px;
    padding-bottom: 17px;
  }

  h2 {
    margin: 0;
    margin-bottom: 13px;
    font: 400 15px/22px $ff-headings;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include vp-767 {
      margin-bottom: 9px;
    }
  }

  address {
    font: 400 16px/22px $ff-main;
    color: var(--pure-light);
  }

  address p {
    margin: 0;
    padding: 5px 0;
    opacity: var(--menu-opacity);

    @include vp-767 {
      margin-bottom: 9px;
      font-size: 14px;
      line-height: 19px;
    }
  }

  address ul {
    margin: 0;
    padding-left: 0;
  }

  address li {
    padding: 4px 0;
  }

  address li::marker {
    color: transparent;
  }

  address a {
    --color: var(--pure-light);

    font: 400 16px/22px $ff-main;
    color: var(--color);
    opacity: var(--menu-opacity);

    @include hover {
      --color: var(--themed-light);
    }

    @include focus {
      --color: var(--themed-light);
    }

    @include active {
      opacity: 1;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.main-footer__container {
  grid-column: main;
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    grid-column: full;
  }
}

.main-footer__accordion {
  display: contents;

  @include vp-767 {
    display: block;
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}

.main-footer__accordion h2 {
  @include vp-767 {
    position: relative;
  }
}

.main-footer__toggle {
  display: none;

  @include vp-767 {
    --scale: scale(0);
    --color: var(--base-lightest);

    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    font-size: 0;
    border: none;
    background-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 1px;
    display: block;
    width: 15px;
    height: 1px;
    margin-bottom: 4px;
    background-color: var(--color);
    transform: rotate(90deg) var(--scale);
    transition: $trans-default;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 1px;
    display: block;
    width: 15px;
    height: 1px;
    margin-bottom: 4px;
    background-color: var(--color);
  }

  &--active {
    &::before {
      --scale: scale(1);

      transition: $trans-default;
    }
  }

  &:focus {
    --color: var(--themed-light);
  }

  &:active {
    --color: var(--themed-light);
  }
}

.main-footer__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @include vp-767 {
    margin-bottom: 15px;
    padding-bottom: 18px;
    padding-left: $pd-small;
    padding-right: $pd-small;
    border-bottom: 1px solid var(--base-lightest-op07);
  }

  &--about {
    flex: 0 0 20%;
    max-width: 20%;
    min-width: 215px;
    margin-right: 10.7%;

    @include vp-1023 {
      flex: 0 0 100%;
      max-width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include vp-767 {
      flex-direction: column;
      row-gap: 15px;
      align-items: center;
    }
  }

  &--sections-menu {
    flex: 1 1 37%;
    max-width: 40%;
    padding-top: 4px;

    @include vp-1023 {
      flex-basis: 51.5%;
      max-width: 100%;
      padding-right: 110px;
    }

    @include vp-767 {
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 14px;
      padding-bottom: 9px;
    }
  }

  &--address {
    flex: 1 1 28.3%;
    max-width: 28.3%;
    margin-left: auto;
    padding-top: 4px;

    @include vp-1023 {
      flex-basis: 47%;
      max-width: 100%;
      margin-right: 0;
    }

    @include vp-767 {
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 15px;
      padding-bottom: 10px;
    }
  }
}

.main-footer__logo {
  @include vp-767 {
    padding-right: 5px;
  }
}

.main-footer__social {
  flex: 1 1 100%;
  max-width: 100%;
  align-items: flex-start;
  margin: 0;
  margin-top: 30px;
  margin-left: 10px;

  @include vp-1023 {
    flex-basis: 40%;
    justify-content: flex-end;
    align-items: center;
    max-width: 40%;
    margin: 0;
    margin-bottom: 6px;
    margin-right: -5px;
  }

  @include vp-767 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.main-footer__menu {
  margin: 0;
}
