.page {
  min-width: 320px;
  font: 400 16px/22px $ff-main;
  color: var(--themed-dark);
}

.page__header {
  position: sticky;
  z-index: 999;
  top: 0;
  margin-bottom: -18px;

  @include vp-1023 {
    position: static;
  }
}

.page__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
