.products {
  padding-top: 65px;
  padding-bottom: 140px;
  background-color: var(--themed-dark);

  @include vp-1023 {
    padding-top: 55px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 31px;
    padding-bottom: 86px;
  }
}

.products__container {
  grid-column: main;

  h2 {
    margin: 0;
    margin-bottom: 32px;
    font: 400 36px / 51px $ff-headings;
    color: var(--pure-light);

    @include vp-1023 {
      margin-bottom: 16px;
    }

    @include vp-767 {
      font-size: 0;
      line-height: 0;
    }
  }

  span {
    font-size: 0;
    line-height: 0;

    @include vp-767 {
      display: block;
      max-width: 18ch;
      margin-bottom: 29px;
      font: 400 28px / 39px $ff-headings;
      color: var(--pure-light);
    }
  }
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 350px));
  justify-content: space-between;
  gap: 20px;
  margin: 0;

  @include vp-1023 {
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;
    justify-content: initial;
  }
}

.products__card {
  --product-bg-size: 405%;
  --product-bg-position: var(--bg-position-big);

  background: var(--bg-url) no-repeat;
  background-color: var(--themed-neutral);
  background-position: var(--product-bg-position);

  @media (min-resolution: 2dppx) {
    background: var(--bg-retina-url) no-repeat;
    background-size: var(--product-bg-size);
    background-position: var(--product-bg-position);
  }

  @include vp-1023 {
    --product-bg-size: 219%;
    --product-bg-position: var(--bg-position-medium);

    background-position: var(--product-bg-position);
    background-size: var(--product-bg-size);
  }

  @include vp-767 {
    --product-bg-size: 556%;
    --product-bg-position: var(--bg-position-small);

    background-position: var(--product-bg-position);
    background-size: var(--product-bg-size);
  }
}

.products__link {
  --button-color: var(--themed-light);

  position: relative;
  display: block;
  min-height: 650px;
  height: 100%;
  padding: 47px 138px 50px 40px;
  font: 400 20px / 30px $ff-headings;
  color: var(--pure-light);
  background-color: rgba(4, 24, 39, 0.5);
  transition: background-color $trans-default;

  @include vp-1023 {
    min-height: 250px;
    padding: 37px 475px 50px 45px;
  }

  @include vp-767 {
    padding: 26px 106px 30px 30px;
    font-size: 18px;
    line-height: 30px;
  }

  @include hover {
    background-color: transparent;
  }

  @include focus {
    background-color: transparent;
  }

  @include active {
    --button-color: var(--themed-action);

    background-color: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    background: url("../img/stack.svg#icon-arrow") no-repeat center center;
    background-size: 8%;
    background-color: var(--button-color);
    border-radius: 3px 0 0;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }
}
