.sections-menu {
  column-count: 2;
  column-gap: 12px;
  column-width: 220px;

  &::after {
    content: "";
    display: list-item;
    padding: 0;
    margin: 0;
    color: transparent;
  }
}

.sections-menu__item {
  padding: 4px 0 4px;
}

.sections-menu__link {
  --color: var(--pure-light);

  font: 400 16px/22px $ff-placeholder;
  color: var(--color);
  opacity: var(--menu-opacity);

  @include hover {
    --color: var(--themed-light);
  }

  @include focus {
    --color: var(--themed-light);
  }

  @include active {
    opacity: 1;
  }
}
